<!DOCTYPE html>
<html>
<head></head>
<body>
<script type="application/javascript">
    window.opener.location.href = "{{ url('campaignchain_channel_linkedin_location_add') }}";
    self.close();
</script>
</body>
</html>