{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}
     <div class="jumbotron">
         <p>Connect to the LinkedIn account by logging in to LinkedIn. Your username and password will remain with LinkedIn and will not be stored in this application.</p>
         <p><a class="btn btn-primary btn-lg" role="button" onclick="popupwindow('{{ path('campaignchain_channel_linkedin_login') }}','',600,600);">Connect now</a></p>
     </div>

 {% endblock %}

